@use "../mixins/colors.scss";
@use "../mixins/breakpoints.scss";
// i dont think this is working so ill leave it here but ill be making seperate content
@mixin default-typography {
  h1,
  .h1 {
    @include h1;
  }

  h2,
  .h2 {
    @include h2;
  }

  h3,
  .h3 {
    @include h3;
  }

  h4,
  .h4 {
    @include h4;
  }
  h5,
  .h5 {
    @include h5;
  }
  h6,
  .h6 {
    @include h6;
  }

  //   .heading:has(span) {
  //     @include gradient;
  //   }

  p {
    @include p;
  }

  @include default-typography-minus-headings;
}
@mixin default-typography-minus-headings {
  .eyebrow {
    @include eyebrow;
  }

  .button {
    @include button-base;
  }
}

@mixin h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 0.96;
  color: inherit;
}

@mixin h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 1.12;
  color: inherit;
}
@mixin h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: normal;
  color: inherit;
}
@mixin h4 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: normal;
  color: inherit;
}
@mixin h5 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: normal;
  color: inherit;
}
@mixin eyebrow {
  font-family: var(--font-family-subheading);
  font-size: var(--font-size-body-sm);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: inherit;
}

@mixin p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 1.6;
  font-weight: 400;
  color: inherit;
}
@mixin button-base {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5em;
  border-radius: var(--radius-sm);
  text-align: left;
  text-decoration: none;
  padding: 0.9em var(--spacing-sm);
  border: 0.0625rem solid transparent;
  font-family: var(--font-family-subheading);
  font-size: var(--font-size-body-sm);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: inherit;
  transition: all var(--transition-duration-fast)
    var(--transition-timing-function);
}
