---
import Bubbles from "./BubbleBackdrop.astro";
import "../styles/assets/css/modules/landing.css";
---

<section class="landing">
  <div class="content">
    <!-- <Bubbles /> -->
  </div>"
</section>
