---
import Bubbles from "./BubbleBackdrop.astro";
import Button from "./button.astro";
import "../styles/assets/css/modules/landing.css";
---

<section class="landing default-typography">
  <h1>My Astro Site</h1>
  <Bubbles />
  <Button />
</section>
