---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro with my own custom styles</title>
    <!-- Scripts -->
    <script src="../js/remove-debut-attrs.js"></script>
  </head>

  <body data-theme="">
    <div class="deep-light"></div>

    <slot />
  </body>
</html>
